.row {
  height: 25px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  transition: transform 0.5s;
}

.cell {
  display: block;
  position: absolute;
  width: 40px;
  padding: 2px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
